@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #F7F7F7;
  --text: #202021;
  --color-primary: #ef3d37; /* Primary color */
  --color-secondary: #f4f3e5; /* Secondary color */
  --color-dark: #212122; /* Dark color */
  --color-gray: #5e6161; /* Gray color */
  --color-accent: #39a2ae; /* Accent color */
  --bg-color: #f4f4f5;
  --text-color: #212122;
  --primary-color: #4f46e5;
  --secondary-color: #6366f1;
  --accent: #DB4C40;
}

@font-face {
  font-family: "Scotch-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntlMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scotch Display';
  src: url('/fonts/Scotch-Display.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202021;
    --foreground: #ededed;
    --bg-color: #212122;
    --text-color: #ffffff;
    --primary-color: #818cf8;
    --secondary-color: #a5b4fc;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Helvetica Now Display', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dot--white {
  background-color: white;
  background-color: color(display-p3 1 1 1);
  background-color: color(rec2020 2 2 2);
} 


.menu-container {
  transform-origin: top;
}

.dark {
  --background: #202021;
  --text: #F7F7F7;
  --bg-color: #212122;
  --text-color: #ffffff;
  --primary-color: #818cf8;
  --secondary-color: #a5b4fc;
}

/* Ocultar scrollbar para Chrome, Safari y Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  scroll-behavior: smooth;
}

.scotch-display {
  font-family: "scotch-display-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

