@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ef3d37; /* Primary color */
  --color-secondary: #f4f3e5; /* Secondary color */
  --color-dark: #212122; /* Dark color */
  --color-gray: #5e6161; /* Gray color */
  --color-accent: #39a2ae; /* Accent color */
}

@font-face {
  font-family: "Scotch-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntlMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Now Display', sans-serif;

}

.dot--white {
  background-color: white;
  background-color: color(display-p3 1 1 1);
  background-color: color(rec2020 2 2 2);
} 


.menu-container {
  transform-origin: top;
}
